.flipCards {
  background-color: #d6cbb6;;
  width: 100vw;
  height: 80vh;
}
.flipCards-bottomSection {
  display: inline-flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 30vw;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  margin-top: -6px;
}

.flip-card-back {
  background-color: #175a40;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back h3{
  margin: 30px;
}
.flip-card-back p{
  margin: 10px;
  text-align: right;
}

.flip-card1 {
  background-size: cover;
  height: 30vw;
  width: 30vw;
  background-repeat: no-repeat;
  background-image: url(./flipCardsPics/flipcard1.jpeg);
  background-position: center;
  color: white;
  /* transform: translateY(-3%); */
}

.flip-card2 {
  background-size: cover;
  height: 30vw;
  width: 30vw;
  background-repeat: no-repeat;
  background-image: url(./flipCardsPics/flipcard2.jpeg);
  background-position: 10% 24%;
  color: white;
  /* transform: translateY(-3%); */
}

.flip-card3 {
  background-size: cover;
  height: 30vw;
  width: 30vw;
  background-repeat: no-repeat;
  background-image: url(./flipCardsPics/flipcard3.jpeg);
  background-position: 10% 25%;
  color: white;
  /* transform: translateY(-3%); */
}

.services-info .flip-card .flip-card-inner .flip-card-front i {
  font-size: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 89, 255, 0.13);
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .flipCards
  {
   height: 130vh;
   width: 100vw;

  }
}