.joinUs{
    background-image: url(seabackground.avif);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
}
.secondary-title{
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 10%;
   font-size: 60px;
    text-shadow: -2px 0px 20px black;

}
.para{
    
    font-weight: 600;
    line-height: 2;
    margin: 30px;
}

.btn-ctrl{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.btn-ctrl :hover{
    background-color: #2fb5d0 !important;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

<<<<<<< HEAD
.para{
    text-align: right;
=======
.btn1{
    background-color: #175a3f!important;
}
.btn2{

    background-color: #175a3f!important;
}
.btn3{
   
    background-color: #175a3f!important;
}
.btn4{

    background-color: #175a3f!important;
}
.images{

    display: flex;
    justify-content: space-around;
>>>>>>> be72bdc (fix)
}