.joinUs{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
.para{
    margin: 30px;
}

.btn-ctrl{
    display: flex;
    justify-content: center;
}
.btn-ctrl :hover{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.para{
    text-align: right;
}