.step1PageContainer{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(riverStep1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.step1ContanetContainer{
    width: 80vw;
    height: 80vh;
    background-color: rgb(63, 174, 72, 0.7);
    border-radius: 3%;
   
    
    
}
.pick-city-btn:hover{
    background-color: white;
    color: black;
   
}

.pick-city-btn{
    margin:1em;
   width: 20vw;
   height: 15vh;
   border-radius: 3%;
   
   background-color: transparent;
   border-color: white;
   color: white;
   box-shadow: 0px 0px white;
   border-style: solid;

}

.back{
    transform: translateX(33vw);
    margin-top: 2vw;
    background-color: black !important;
   
    

}
.span-step1{
    display: flex;
    flex-direction: column;
}


.hr{
   
   border-color: black;
   width: 90%;
   border-width: 2px;
   opacity: 0.7;
   margin-left: 4vw;
}


/* zigzag */
.line-step1{
    border-left: 4px solid black;
    height: 80vh;
    position: absolute;
    margin-left: -3px;
    top: 0;
    margin-top: 10vh;
    left: 50vw;
}



.secspan_step1{
    transform: translateX(-5vw);
    
}

.step1-container{
    display: flex;
}
.img-step1{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 15vw;
    height: 20vh;
    
}
.back-step1{
    position: absolute;
    top: 15vh;
    right: 5vw;
    margin: 0 !important;
    width: 12vw !important;
    height: 5vh !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    font-size: 2.5vw !important;
    background-color: black !important;

}
.img-step1:hover{
    border-color: #12a182;
}
.step4-contant-container{
    display: flex;
}
.step1-h4{
    text-align: left;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 3vw;
    margin-top: 5vh;
}
.box {
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    will-change: transform;
    margin: 10vw !important;
    
}
.step1-h1{
   margin-right: 2vw;
    font-size: 3.5vw;
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right:5vw;
}
.box-1,.box-3{
    margin-top: 8vh;
}

.box:hover .cover {
    -webkit-transform: translateY(-14px) scale(1.04);
            transform: translateY(-14px) scale(1.04);
}


.cover {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    will-change: transform;
}

.cover img {
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
}



.box .cover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 160px;
    height: 214px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    -webkit-filter: blur(24px);
            filter: blur(24px);
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
            transform: scale(.6);
}

.box:hover .cover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.box-1 .cover::after {
    background-color: rgb(83,83,83,0.8);
    height: 30vh;
    width: 30vw;
}

.box-2 .cover::after {
    background-color: rgb(83,83,83,0.8);
    height: 30vh;
    width: 30vw;
}

.box-3 .cover::after {
    background-color: rgb(83,83,83,0.8);
    height: 30vh;
    width: 30vw;
}

.box-4 .cover::after {
    background-color: rgb(83,83,83,0.8);
    height: 30vh;
    width: 30vw;
}

.box:hover{
    color: white;
}


@media screen and (max-width: 700px) {
    .step4-contant-container{
      flex-direction: column-reverse;
    }
    .line-step1{
        display: none;
    }
    .img-step1{
      height: 25vh;
      width: 30vw;
      transform: translateY(5vh);
      display: flex;
    }
    .box{margin-top: 3vh;}
.step1-mainContainer{
    overflow: hidden;
}
.span-step1{
    margin-left: 40vw;
}
.secspan_step1{
    transform: translateX(0);
    
    
}

.step1-h1{
margin-top: 20vh;
margin-bottom: 15vh;
font-size: 7vw;
}
.step1-h4{
    position: absolute;
    margin-top: 40vh;
    margin-bottom: 5vh;
    font-size: 5.5vw;
    right: 15vw;
    }
  }
  @media screen and (max-width: 900px) {

    





  }