.back{
    transform: translateX(40vw);
}
.card-container{

display: flex !important;
justify-content: center !important;
align-items: center;
}

.step3PageContainer{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(riverStep1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.step3ContanetContainer{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hr2{
border-color: black;
width: 95%;
border-width: 2px;
opacity: 0.7;
margin-left: 2vw;

}
.card-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-body{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardImg{
width: 20vw;
height: 15vh;
margin-top: 0;



}

.pick-hour{
margin: 1vw;
    width: 8vw;
    height: 5vh;
    text-align: center;
    padding-bottom: 6vh;
}
.card_hero{
    transform: translateX(-10vw);
}
.stepHead{
transform: translateX(28vw);

}

.pick-hour-container{

    display: flex;
    align-self: center;
    

}

.links
{
    margin: 1vw;
}
.accordion{
    margin-top: 12vh;
}
#quantity{
    margin: 1.5vw;
}