.step4PageContainer{
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(riverStep1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
   
}
.row{transform: translateX(10vw);}

.step4ContanetContainer{
    margin-top: 10vh;
    width: 90vw;
    height: auto;
    background-color: white;
    
    
}
.back{
    transform: translateX(35vw)
}

.step4-input{
    width: 20vw;
    height: 5vh;
font-size: small;
     margin: 5vw;
     border-color: green !important;
   
    
}



.stepHead{
    margin-right: 9vw;
}




input[type=text],input[type=email],input[type=number],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #04AA6D;
  }

  select:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #04AA6D;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: right;
  }


  .modal-step4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  

  .modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-close{
    position: absolute;
    right: 5vw;
  }

  select{
    text-align: right;
  }

  input{
    text-align: right;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.next{
  transform: translateY(5vh) !important;
 margin-top: 10vh;
 margin-left: 20vw !important;
 
   
    
}
.member-label{   
     width: 25vw;
    height: auto;
    transform: translateX(-10vw);
}
.select-member{
    transform: translateX(-4.5vw);
}

.fname-step4{
  display: block !important;
}

.row{
  flex-direction: row !important;
}



  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
    }

    .input-step4{
      width: 35vw !important;
    }

    .col-75{
      transform: translate(-5vw);
    }
    .fname-step4{
      transform: translateX(3vw);
    }

    
  }

  


  
