* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.end-section {
  background-color: #a5a7a6;
}

.faq {
  background-color: none;
}
table {
  width: 100%;
  border-spacing: 50%;
  margin-bottom: -12vh;
  transform: translate(-6vw);
}

th {
  height: 8vh;
  font-size: xx-large;
  margin-bottom: 0%;
}

td {
  height: 8vh;
  font-size: x-large;
  margin-bottom: 0%;
}
td :hover {
  color: #175a40;
}

.social-media-icons {
  color: black;
  font-size: 10vh;
  margin-top: 0px;
}

.social-media-icons .facebook :hover {
  color: rgb(39, 39, 255);
}

.social-media-icons .instagram {
  margin-left: 1vw;
  margin-right: 1vw;
}
.social-media-icons .instagram :hover {
  color: purple;
}

.social-media-icons .youtube :hover {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  th {
    font-size: small;
  }
}
@media screen and (max-width: 768px) {
  td {
    font-size: small;
  }
}
