* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.our-impact {
  background-color: #fbf0db;

  height: 100vw;
}
.our-impact .head {
  font-weight: bold;
  position: absolute;
  color: #175a3f;
  margin-left: 38%;
}
.our-impact .left-section-text {
  font-weight: bold;
  position: absolute;
  color: #175a3f;
}
.our-impact .right-section-text {
  font-weight: bold;
  position: absolute;
  color: #175a3f;
}
.our-impact .head {
  font-weight: bold;
  position: absolute;
  color: #175a3f;
}
.upper-section {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}

.upper-section h3 {
  margin-top: 200px;
  color: #175a40;
  top: 5vh;
  left: 50vw;
}
.bottom-section {
  text-shadow: 0 0 black;
  color: #2fb5d0;
  font-size: x-large;
  line-height: 2;
  line-break: auto;
  word-break: break-word;
  margin-top: 8%;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 20vh;
}
.bottom-section.p {
  margin-top: 20%;
  margin-bottom: 1rem;
}

.head {
  margin-top: 3%;
  text-align: center;
  font-size: 60px !important;
}
.icon1img {
}

.logo1text1 {
  margin-left: -13%;
  margin-bottom: 17%;
  margin-top: 0px;
  font-size: x-large;
}

h1.logo1text2 {
  margin-left: 28%;
  margin-top: -3%;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  h1.logo1text2 {
    margin-left: 8%;
    margin-top: -5%;
    width: fit-content;
  }
}

.logo1text3 {
  font-size: x-large;
  margin-right: 10%;
}

.left-section-text {
  width: fit-content;
}

.icon2img {
  margin-left: 20%;
}
.icon2text1 {
  margin-bottom: 15%;
  font-size: x-large;
  margin-left: -5%;
}

.icon2text2 {
  margin-left: 40%;
  margin-top: -7%;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .icon2text2 {
    margin-left: -24%;
    margin-top: -7%;
    width: fit-content;
  }
}

.icon2text3 {
  font-size: x-large;
}

@media screen and (max-width: 768px) {
  .our-impact {
    height: 200vh;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .head {
    font-size: 5vh !important;
  }
}
@media screen and (max-width: 768px) {
  .icon1img {
    height: 33vh;
    width: 33vw;
  }
}
@media screen and (max-width: 768px) {
  .icon2img {
    height: 33vh;
    width: 33vw;
  }
}

@media screen and (max-width: 768px) {
  .right-section-text {
    margin: 3vh;
  }
}
@media screen and (max-width: 768px) {
  .left-section-text {
    margin: 3vh;
  }
}

@media screen and (max-width: 768px) {
  .section1-title {
    transform: translate(86vw, 1vh);
    width: 1vw;
  }
}
