.section1 {
  background-image: url("./background2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 53%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 41vh;
  filter: brightness(0.5);
}

.section1-title h1 {
  font-weight: bold;
  color: white;
  filter: drop-shadow(2px 4px 6px black);
  font-size: 9vh;
}
.section2 {
  width: 100vw;
  height: 100vh;
  background-color: #fbf0db;
  display: flex;
}

.section2-leftSection {
  color: black;
  font-weight: 700;
  margin: 30px;
}
.section2-leftSection-content {
  text-align: right;
}
.section2-rightSection {
  margin: 30px;
}

.section3 {
  background-color: #d6cbb6;
  height: 110vh;
}
.section3-content {
  margin: 30px;
  text-align: right;
  color: #175a40;
  font-size: 2.5vh;
}

.section3title {
  font-weight: bold;
}

.section3 img {
  width: 56vw;
  height: 67vh;
}

@media screen and (max-width: 768px) {
  .section3 img {
    width: 74vw;
    height: 22vh;
  }
}

.section4 {
  background-color: #fbf0db;
  width: 100vw;
  height: 40vh;
}

.section4-cardsSection {
  display: flex;
  justify-content: space-evenly;
}

.section4-cardsSection-leftSection {
  background-image: url(vision2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 28%;
  border-radius: 10%;
  margin: 30px;
  width: 40vw;
  height: 30vh;
  filter: brightness(0.75);
  color: white;
  text-shadow: -20px 14px 20px black;
  font-weight: bold;
  margin-top: 5%;
  filter: none;
}
.section4-cardsSection-leftSection-content {
  margin: 30px;
}
.section4-cardsSection-rightSection {
  background-image: url(vision.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 58%;
  border-radius: 10%;
  margin: 30px;
  width: 40vw;
  height: 30vh;
  filter: brightness(0.75);
  color: white;
  text-shadow: -20px 14px 20px black;
  font-weight: bold;
  margin-top: 5%;
  filter: none;
  margin-bottom: 1rem;
}

.section4-cardsSection-rightSection-content {
  margin: 30px;
}

.section2-rightSection-buttons {
  display: flex;
  flex-direction: row-reverse;
  transform: translate(0, 55vh);
  align-items: flex-end;
}

.section2-rightSection-iframe {
  margin-right: 2%;
}
.ourstorybtn1 {
  background-color: #175a3f !important;
}
.ourstorybtn2 {
  background-color: #175a3f !important;
}
.ourstorybtn3 {
  background-color: #175a3f !important;
}
.ourstorybtn1:hover {
  background-color: transparent !important;
  color: black !important;
  border: black 2px solid !important;
}
.ourstorybtn2:hover {
  background-color: transparent !important;
  color: black !important;
  border: black 2px solid !important;
}
.ourstorybtn3:hover {
  background-color: transparent !important;
  color: black !important;
  border: black 2px solid !important;
}

.section2-rightSection-content {
  background-color: #fbf0db;
}

.backupbtn{
  background-color: #175a3f !important;
  height: fit-content!important;
  width: fit-content!important;

}

@media screen and (max-width: 768px) {
  .section1-title h1 {
    transform: translate(-60vw, 0);
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    height: 155vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section2-rightSection {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .section2-rightSection-buttons {
    margin-right: 21vw;
    margin-top: -50vh;
  }
}
@media screen and (max-width: 768px) {
  .section3 {
    height: 152vh;
    width: 100vw;
  }
}

.responsive-iframe{
  width: 20vw;
  height: 36vh;
}

@media screen and (max-width: 768px){
.responsive-iframe{
  width: 20vw;
  height: 36vh;
}
}

