.faq{
    background-color: green;
    margin: 0px
}

.bottomSection{
    background-color: cornflowerblue;
    height: 80vh;
}

.bottomSection-content{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 60vw;
    height: 59vh;
    transform: translateY(113px) translatex(370px);
    text-align: right;
}

.bottomSection-content h5{
    font-weight: bold;
}

.bottomSection-content-faqText{
    margin-right: 30px;
}