.faq {
  background-color: green;
  margin: 0px;
}

.upperSection {
  background-color: #fbf0db;
  margin: 0;
}
.bottomSection {
  background-color: #fbf0db;
  height: 90vh;
}

.bottomSection-content {
  filter: drop-shadow(2px 4px 6px black);
  color: white;
  background-color: #175a40;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 68vw;
  height: 68vh;
  transform: translateY(113px) translatex(370px);
  margin-left: -10%;
  text-align: right;
}

.bottomSection-content h5 {
  font-weight: bold;
}

.bottomSection-content-faqText {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .bottomSection {
    background-color: #fbf0db;
    height: 105vh;
  }
}

@media screen and (max-width: 768px) {
  .bottomSection-content {
    margin-left: -43%;
    height: 85vh;
    margin-top: -10vh;
  }
}
