.faq{
    background-color: green;
    margin: 0px
}

.bottomSection{
    background-color: cornflowerblue;
    height: 80vh;
}

.bottomSection-content{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 80vw;
    height: 68vh;
    transform: translateY(50px) translatex(190px);

}
